@use "../../sass/abstracts/variables";

.orders-update {
  background-color: variables.$primary-background-color-dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: 85%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 2rem 4rem;
    background-color: variables.$primary-background-color;
  }

  &__top {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .orders-update__title {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  &__bottom {
    height: 90%;
    display: flex;

    &-graphics {
      flex-basis: 50%;
    }

    &-content {
      flex-basis: 50%;
    }
  }
}
